
---
import Page from "../layouts/Page.astro";
import BlogList from "../components/BlogList.astro";
---

<Page>
    <div class="container mx-auto px-4">
        <!-- Blog Section-->
        <h1>My Blog</h1>
        <BlogList>
        </BlogList>

    </div>
</Page>
