---
import Page from "../layouts/Page.astro";
import CardBlog from "../components/CardBlog.astro";
import LayoutCardList from "../layouts/LayoutCardList.astro";
import BlogList from "../components/BlogList.astro";
import CardProjects from "../components/CardProjects.astro";
import ProjectCardList from "../components/ProjectCardList.astro";
import PublicationsCardList from "../components/PublicationsCardList.astro";
import Divider from "../components/Divider.astro";
import ProfilePic from "../assets/profilepic.webp";
import ProfilePic_Mobile from "../assets/profilepic_mobile.png";
import Footer from "../components/Footer.astro";
import Icon from "astro-icon";
---

<Page>
    <div class="container mx-auto flex flex-col px-4">
        <!-- Hello Section-->
        <div
            id="Section:hello"
            class="container mx-auto xl:h-screen flex flex-col xl:flex-row xl:items-center space-y-4 xl:space-x-24 mb-8"
        >
            <img
                src={ProfilePic}
                alt="Nathan's profile picture"
                class="profilepic-animated sm:w-full absolute invisible xl:relative xl:visible xl:h-5/6 xl:w-1/2 object-cover rounded-lg drop-shadow-2xl"
            />

            <div class="mx-auto xl:w-1/2">
                <div class="typewriter">
                    <div
                        class="invisible absolute xl:relative xl:visible mb-12"
                    >
                        <p
                            class="invisible absolute xl:relative xl:visible p3 text-4xl font-semibold text-text_colour"
                        >
                            Open Education
                        </p>
                        <p
                            class="invisible absolute xl:relative xl:visible p3 text-4xl font-semibold"
                        >
                            LLMs
                        </p>
                        <p
                            class="invisible absolute xl:relative xl:visible p3 text-4xl font-semibold"
                        >
                            Adaptive Experiments
                        </p>
                    </div>

                    <div
                        class="invisible absolute xl:relative xl:visible p3 border-t-4 border-primary_colour w-2/3 mr-auto rounded-full my-12"
                    >
                    </div>
                    <img
                        src={ProfilePic_Mobile}
                        class="profilepic-animated mx-auto xl:invisible xl:absolute h-96 rounded-full"
                    />
                    <div class="flex justify-center xl:justify-start">
                        <div class="text-3xl font-semibold mt-12 mb-8">
                            <span class="wave">👋</span>
                            <h2 style="display: inline;">
                                <span
                                    class="fade-in"
                                    style="animation-delay: 2s;">Hey,</span
                                >
                                <span
                                    class="fade-in"
                                    style="animation-delay: 2.25s;"
                                >
                                    I'm</span
                                >
                                <span
                                    class="fade-in"
                                    style="animation-delay: 2.5s;"
                                >
                                    Nathan</span
                                >
                            </h2>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center xl:justify-start">
                        <p class="p1 text-lg text-center xl:text-left">
                            I'm an incoming PhD student at the

                            <a
                                class="font-semibold text-primary_colour hover:text-primary_active_colour"
                                href="http://josephjaywilliams.com"
                            >
                                University of Toronto's Intelligent Adaptive
                                Interventions Lab.
                            </a>
                        </p>
                        <br />
                        <p class="p2 mb-24 text-lg text-center xl:text-left">
                            I create Self-Personalizing Open
                            Education Resources using Large Language Models,
                            Bayesian Machine Learning, and Adaptive
                            Interventions.
                        </p>
                    </div>
                </div>
                <a href="nathanlaundry.com">
                    <div
                        class="text-center fadein-divider font-semibold bg-primary_colour hover:bg-primary_active_colour p-4 rounded-lg drop-shadow-md hover:drop-shadow-lg max-w-md transition-all mx-auto xl:ml-0"
                    >
                        SUBSCRIBE to my E-Mail Newsletter
                        <p class="font-bold">#GuidingQuestions</p>
                    </div>
                </a>
            </div>
        </div>

        <button class="mx-auto flex flex-row">
            <p
                class="text-xl my-auto mx-4 py-2 border-b-4 border-primary_colour"
            >
                About Me
            </p>
            <Icon
                name="mdi:arrow-down-bold"
                class="breathing-animation h-16 w-16 rounded-full bg-background_card_colour text-primary_colour"
            />
        </button>

        <!-- Add whitespace between sections -->
        <div class="my-12 md:my-24"></div>

        <!-- Blog Section-->
        <div class="flex flex-col xl:flex-row drop-shadow-2xl">
            <div class="w-full xl:w-1/3 rounded-lg mx-4 mb-4 flex flex-col">
                <h1
                    class="drop-shadow-lg px-4 inline-block xl:ml-[-2.5rem] my-[-2.5rem] text-4xl font-bold"
                >
                    🖋️ Writer, Teacher
                </h1>
                <div
                    class="mx-8 my-6 text-xl bg-background_card_hover_colour rounded-lg"
                >
                    <p class="mx-12 my-24 text-xl text-text_secondary_colour">
                        I keep a blog on Medium where I write programming
                        tutorials and chronicle my academic journey.
                        <br />
                        <br />
                    </p>
                    <p
                        class="text-2xl border-t-4 bg-background_card_colour border-solid rounded-b-lg border-accent_colour mx-auto py-12 px-8"
                    >
                        You can find some of my articles here :D
                    </p>

                    <!--Icon name="mdi:arrow-right-bold" class="breathing-animation w-16 float-right mr-[-1.5rem]"></Icon-->
                </div>
            </div>
            <div class="w-full xl:w-2/3 m-4">
                <BlogList />
                <Divider />
            </div>
        </div>

        <!-- Add whitespace between sections -->
        <div class="my-8 md:my-36"></div>

        <!-- Projects Section-->

        <div class="flex flex-col xl:flex-row drop-shadow-2xl">
            <div class="w-full xl:w-2/3 m-4">
                <ProjectCardList />
            </div>
            <div
                class="order-first xl:order-last w-full xl:w-1/3 rounded-lg mx-4 mb-4 flex flex-col"
            >
                <h1
                    class="drop-shadow-lg px-4 inline-block my-[-2.5rem] text-4xl font-bold"
                >
                    💻 Developer, Founder
                </h1>
                <div
                    class="mx-8 my-6 text-xl bg-background_card_hover_colour rounded-lg"
                >
                    <p class="mx-12 my-24 text-xl text-text_secondary_colour">
                        I've been known to dabble with code and found a
                        community or two.

                        <br />
                        <br />
                    </p>
                    <p
                        class="text-2xl border-t-4 bg-background_card_colour border-solid rounded-b-lg border-accent_colour mx-auto py-12 px-8"
                    >
                        Check out some of my Highlights
                    </p>
                </div>
            </div>
        </div>

        <!--Add whitespace between sections -->
        <div class="my-8 md:my-36"></div>

        <!-- Publications Section-->

        <div class="flex flex-col xl:flex-row drop-shadow-2xl">
            <div
                class="w-full xl:w-1/3 rounded-lg mx-4 mb-4 flex flex-col justify-center"
            >
                <h1
                    class="drop-shadow-lg px-4 inline-block xl:ml-[-2.5rem] my-[-2.5rem] text-4xl font-bold"
                >
                    🎓 PhD Student
                </h1>
                <div
                    class="mx-8 my-6 text-xl bg-background_card_hover_colour rounded-lg"
                >
                    <p class="mx-12 my-24 text-xl text-text_secondary_colour">
                        My work combines Adaptive Experiments, Large Language
                        Models, and modern Developer Tools to streamline the
                        creation and comparison of educational materials.
                        <br />
                        <br />
                        I want to make the best learning materials freely available
                        to anyone.
                    </p>
                    <p
                        class="text-2xl border-t-4 bg-background_card_colour border-solid rounded-b-lg border-accent_colour mx-auto py-12 px-8"
                    >
                        Here's some of my work
                    </p>
                </div>
            </div>
            <div class="w-full xl:w-2/3 m-4">
                <h1 class="text-4xl font-bold mb-4"></h1>
                <PublicationsCardList />
                <Divider />
            </div>
        </div>

        <!-- Add whitespace between sections -->
        <div class="my-8 md:my-36"></div>

        <!-- Talks Section-->

        <div class="flex flex-col xl:flex-row drop-shadow-2xl">
            <div
                class="xl:order-last w-full xl:w-1/3 rounded-lg mx-4 mb-4 flex flex-col justify-center"
            >
                <h1
                    class="drop-shadow-lg px-4 inline-block xl:ml-[-2.5rem] my-[-2.5rem] text-4xl font-bold"
                >
                    🎤 Speaker
                </h1>
                <div
                    class="mx-8 my-6 text-xl bg-background_card_hover_colour rounded-lg"
                >
                    <p class="mx-12 my-24 text-xl text-text_secondary_colour">
                        I can get on a soap box ...
                        <br />
                        <br />
                    </p>
                    <p
                        class="text-2xl border-t-4 bg-background_card_colour border-solid rounded-b-lg border-accent_colour mx-auto py-12 px-8"
                    >
                        Here's what that sounds like
                    </p>
                </div>
            </div>
            <div class="w-full xl:w-2/3 m-4">
                <div class="iframe-container">
                    <iframe
                        class="responsive-iframe rounded-lg"
                        src="https://www.youtube.com/embed/-S7TgqNPUUY"
                        title="YouTube video player"
                        allow=" clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                    >
                    </iframe>
                </div>
            </div>
        </div>

        <!-- Add whitespace between sections -->
        <div class="my-8 md:my-36"></div>
    </div>

    <style>
        .iframe-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }

        /* Then style the iframe to fit in the container div with full height and width */
        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        .typewriter .h2-typing {
            overflow: hidden;
            width: 0;
            border-right: 0.15em solid orange;
            white-space: nowrap;
            animation: typing 2.5s steps(15, end) 1s forwards,
                blink-caret 0.75s step-end 4;
        }

        .typewriter .p1 {
            overflow: hidden;
            opacity: 0;
            animation: fadeIn 1s ease-in-out 3.5s forwards;
        }

        .typewriter .p2 {
            overflow: hidden;
            opacity: 0;
            animation: fadeIn 1s ease-in-out 4.5s forwards;
        }

        .typewriter .p3 {
            overflow: hidden;
            opacity: 0;
            animation: fadeIn 1s ease-in-out 5.5s forwards;
        }

        .fadein-divider {
            opacity: 0;
            animation: fadeIn 1s ease-in-out 4.5s forwards;
        }

        .profilepic-animated {
            animation: float-expand-reduce 0.75s ease-in-out forwards;
        }

        /* The typing effect */
        @keyframes typing {
            0% {
                width: 0;
            }
            63.64% {
                width: 50%;
            }
            90% {
                width: 50%;
            }
            100% {
                width: 50%;
                display: inline-block;
                border-color: transparent;
            }
        }

        /* The typewriter cursor effect */
        @keyframes blink-caret {
            from,
            to {
                border-color: transparent;
            }
            50% {
                border-color: orange;
            }
        }

        /* The fade-in effect */
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes float-expand-reduce {
            0% {
                transform: scale(1);
                opacity: 0;
            }
            50% {
                transform: scale(1.02);
                opacity: 1;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        @keyframes wave-animation {
            0% {
                transform: rotate(0deg);
                opacity: 0;
            }
            10% {
                transform: rotate(14deg);
                opacity: 1;
            }
            20% {
                transform: rotate(-8deg);
                opacity: 1;
            }
            30% {
                transform: rotate(14deg);
                opacity: 1;
            }
            40% {
                transform: rotate(-8deg);
                opacity: 1;
            }
            50% {
                transform: rotate(0deg);
                opacity: 1;
            }
            100% {
                transform: rotate(0deg);
                opacity: 1;
            }
        }

        @keyframes fade-in {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .wave {
            display: inline-block;
            animation-name: wave-animation;
            animation-duration: 1.5s;
            animation-iteration-count: 1;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .fade-in {
            display: inline;
            opacity: 0;
            animation-name: fade-in;
            animation-duration: 1.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        @keyframes breathing {
            0%,
            100% {
                transform: scale(1);
            }
            50% {
                transform: scale(0.9);
            }
        }

        .breathing-animation {
            animation: breathing 2s infinite ease-in-out;
        }
    </style>
</Page>
