---
import IconSocial from "./IconSocial.astro";
import Icon from "astro-icon";
import socialIcons from "../assets/socialicons";

export interface Props {
    centered?: boolean;
}

const { centered = false } = Astro.props;
// Social media data

const socialMedias = [
    {
        name: "GitHub",
        link: "https://www.github.com",
        icon: "mdi:github",
    },
    {
        name: "Medium",
        link: "https://www.medium.com",
        icon: "mdi:medium",
    },
    {
        name: "Twitter",
        link: "https://www.twitter.com",
        icon: "mdi:twitter",
    },
    {
        name: "YouTube",
        link: "https://www.youtube.com",
        icon: "mdi:youtube",
    },
    {
        name: "LinkedIn",
        link: "https://www.linkedin.com",
        icon: "mdi:linkedin",
    },
];
---

<footer class="py-6">
    <div class="container mx-auto px-4 flex justify-center hover:drop-shadow-lg">
        {
            socialMedias.map((socialMedia) => (
                <a href={socialMedia.link} class="mx-2 text-primary_colour hover:text-primary_active_colour" >
                    <Icon name={socialMedia.icon} class="w-8 h-8"/>
                </a>
            ))
        }
    </div>
</footer>
