---
import IconSocial from "./IconSocial.astro";

// Social media data
const socialMedias = [
  {
    name: 'GitHub',
    link: 'https://www.github.com',
    icon: 'https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg',
  },
  {
    name: 'Medium',
    link: 'https://www.medium.com',
    icon: 'https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/medium.svg',
  },
  {
    name: 'Twitter',
    link: 'https://www.twitter.com',
    icon: 'https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/twitter.svg',
  },
  {
    name: 'YouTube',
    link: 'https://www.youtube.com',
    icon: 'https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/youtube.svg',
  },
  {
    name: 'LinkedIn',
    link: 'https://www.linkedin.com',
    icon: 'https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linkedin.svg',
  },
];
---

<footer class="text-gray-900 py-6">
  <div class="container mx-auto px-4 flex justify-center">
    <ul class="flex items-center space-x-4">
      {socialMedias.map((socialMedia) => (
        <li key={socialMedia.name}>
          <IconSocial
            link={socialMedia.link}
            icon={socialMedia.icon}
            altText={`${socialMedia.name} Icon`}
          />
        </li>
      ))}
    </ul>
  </div>
</footer>
