---
// Props
const link = Astro.props.link;
const icon = Astro.props.icon;
const altText = Astro.props.altText;
---

<a class="social-media-link inline-block m-2 p-2 rounded bg-primary_colour hover:bg-primary_active_colour transition-colors duration-300" href={link}>
  <img class="social-media-icon w-6 h-6 " src={icon} alt={altText} />
</a>
