---
import NavMenu from "./NavMenu.astro";
import Icon from "astro-icon";
---

<nav class="fixed right-8 top-8 z-40">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="font-bold text-xl"></a>
        <div class="relative">
            <button id="hamburger" class="focus:outline-none font-primary_colour">
                <Icon
                    name="mdi:menu"
                    id="hamburger"
                    class="w-12 h-12 text-primary_colour hover:text-primary_active_colour"
                />
            </button>

            <div
                id="navMenu"
                class="menu-hidden absolute top-full mt-2 right-0 w-64 transition-all"
            >
                <NavMenu />
            </div>
        </div>
    </div>
</nav>

<script>
    const hamburger = document.getElementById("hamburger");
    const navMenu = document.getElementById("navMenu");

    hamburger.addEventListener("click", () => {
        navMenu.classList.toggle("menu-hidden");
        navMenu.classList.toggle("menu-visible");
    });
</script>

<style>
    .menu-hidden {
        display: none;
    }
    .menu-visible {
    }
</style>
