---
import NavMenu from "./NavMenu.astro";
import Icon from "astro-icon";
---

<nav class="fixed right-8 top-8 z-40">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="font-bold text-xl"></a>
        <div class="relative">
            <button
                id="hamburger"
                class="text-primary_colour hover:text-primary_active_colour backdrop-blur-lg bg-background_card_colour p-1 rounded-full"
            >
                <Icon
                    name="mdi:menu"
                    id="hamburger"
                    class="w-10 h-10"
                />
            </button>

            <div
                id="navMenu"
                class="menu-hidden absolute top-full mt-2 right-0 w-64 transition-all"
            >
                <NavMenu />
            </div>
        </div>
    </div>
</nav>

<script>
    const hamburger = document.getElementById("hamburger");
    const navMenu = document.getElementById("navMenu");

    hamburger.addEventListener("click", (event) => {
        event.stopPropagation(); // Prevent the click event from bubbling up to the document
        navMenu.classList.toggle("menu-hidden");
        navMenu.classList.toggle("menu-visible");
    });

    document.addEventListener("click", (event) => {
        if (!navMenu.contains(event.target)) {
            navMenu.classList.add("menu-hidden");
            navMenu.classList.remove("menu-visible");
        }
    });
</script>

<style>
    .menu-hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s, visibility 0.1s;
    }
    .menu-visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.1s, visibility 0.1s;
    }
</style>
