---
---


<div class="bg-white rounded-md shadow-lg p-4 space-y-2">
    <a href="/" class="block text-black hover:text-blue-600">Home</a>
    <a href="/About" class="block text-black hover:text-blue-600">About Me</a>
    <a href="/Newsletter" class="block text-black hover:text-blue-600">Newsletter</a>
    <a href="/Articles" class="block text-black hover:text-blue-600">Articles</a>
    <a href="/Poetry" class="block text-black hover:text-blue-600">Poetry</a>
    <a href="/ReadingList" class="block text-black hover:text-blue-600">Reading List</a>
</div>
