---
---

<div
    class="dark:bg-background_card_colour bg-white rounded-md shadow-lg p-6 space-y-2 z-40"
>
    <a
        href="/"
        class="block text-lg hover:text-primary_active_colour dark:text-primary_colour"
        >Home</a
    >
    <a
        href="/newsletter"
        class="block text-lg hover:text-primary_active_colour dark:text-primary_colour"
        >Newsletter</a
    >
    <a
        href="/blog"
        class="block text-lg hover:text-primary_active_colour dark:text-primary_colour"
        >Articles</a
    >
    <a
        href="/projects"
        class="block text-lg hover:text-primary_active_colour dark:text-primary_colour"
        >Projects</a
    >
    <a
        href="/publications"
        class="block text-lg hover:text-primary_active_colour dark:text-primary_colour"
        >Publications</a
    >
    <a
        href="/poetry"
        class="block text-lg hover:text-primary_active_colour dark:text-primary_colour"
        >Poetry</a
    >
</div>
