---
import { getCollection, getEntryBySlug } from "astro:content";
import LayoutCardList from "../layouts/LayoutCardList.astro";
import CardProjects from "./CardProjects.astro";

const allProjects = await getCollection("projects");
---

<div class="mx-auto px-4">
    <div class="grid grid-cols-1 gap-6">
        {allProjects.map((project) => <CardProjects project={project} />)}
    </div>
</div>
